.tabs {
	margin-top: 20px;
}
.tab-list {
  padding-left: 0;
  padding-bottom: 20px;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
}

.tab-list-active {
  border-width: 1px 1px 0 1px;
  border-bottom: 5px solid #000;
}

.form-control {
    display: block;
    width: 90px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 0;
    border: none;
    transition: none;
}
.form-control:focus,
:focus {
    outline: none!important;
}
