@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');


body{
      font-family: 'Dosis', sans-serif !important;
      background:#FFFFFF ;
      margin: 0 auto;
}

.single-fruit-image {
  padding: 10px;
}
.App {
      width: 90%;
      margin: auto;
}
img{
      border-radius: 10px;
      max-width: 100%;
      width: 100%;
      height: auto;
}

.up{
     height: 25px;
}

.down{
      height: 25px;      
}

.logo{
      margin-left:13px;
      width: 30px;
      height: 70px;
}

h2{
      font-weight: bold;
      margin-left: 12px ;
      margin-top:10px;
}
.single-fruit-display{
  display: flex;
}

.single-fruit-display > div {
  width:50%;
}
.single-fruit-display > div:nth-child(2) { 
  padding-right:10px;
  text-align: right;
}

h3{
      margin-top:10px;
      font-weight: bolder;
      font-size: 25px;
}

h1{
      font-size:25px;
}

p{
      padding: 0;
      margin: 5px;
      font-size: 20px;
      margin-left: 10px;
}

.single-fruit-category  {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  padding-top: 0px;
  
}

.single-fruit-category > div:nth-child(2) {
  margin-left: auto;
  width: 10%;
  padding-top: 20px;
}
